body{
    margin:0;
    padding:0;
}
h2{
    font-size: 40px;
}

.buttons{
    text-align:center;
    
}
.align-button{
    display:block;
    padding-left:43%;
    text-decoration: none;
    list-style-type: none;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin:25%;
  text-align: center;
  text-decoration: none;
  display:inline-flex;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  width:100px;
}
.payment{
    padding:9%;
}
.button bhim{
    margin:20%;
}
